a2a-sample-client-gui==0.1.0
a2a-sdk==0.3.0
absolufy-imports==0.3.1
acres==0.5.0
agent==0.0.1
agentlightning==0.2.0
agentops==0.4.21
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioredis==2.0.1
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
anthropic==0.69.0
anyio==3.7.1
appdirs==1.4.4
APScheduler==3.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
asyncclick==8.2.2.2
asyncio==4.0.0
attrs==25.3.0
Authlib==1.6.4
autogen-agentchat==0.7.4
autogen-core==0.7.4
autogen-ext==0.7.4
azure-core==1.36.0
azure-identity==1.25.1
azure-storage-blob==12.27.0
babel==2.17.0
backoff==2.2.1
banks==2.2.0
bcrypt==4.3.0
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
blockbuster==1.5.25
boto3==1.34.34
botocore==1.34.162
Brotli==1.1.0
bs4==0.0.2
build==1.3.0
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
choreographer==1.1.2
chromadb==1.0.20
chuk-ai-session-manager==0.7.1
chuk-llm==0.12.2
chuk-mcp==0.5.2
chuk-sessions==0.4.2
chuk-term==0.1.3
chuk-tool-processor==0.6.13
ci-info==0.3.0
click==8.2.1
clip==1.0
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.3
crewai==0.186.1
croniter==6.0.0
cryptography==43.0.3
cycler==0.12.1
dashscope==1.22.2
dataclasses-json==0.6.7
datasets==4.0.0
ddgs==9.5.5
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docx2txt==0.9
dotenv==0.9.9
duckduckgo_search==8.1.1
durationpy==0.10
dydantic==0.0.8
email-validator==2.3.0
et_xmlfile==2.0.0
etelemetry==0.3.1
eval_type_backport==0.2.2
executing==2.2.1
faiss-cpu==1.12.0
Farama-Notifications==0.0.4
fastapi==0.104.1
fastapi-cli==0.0.13
fastapi-cloud-cli==0.2.0
fastapi-mcp==0.4.0
fastapi-sso==0.16.0
fastjsonschema==2.21.2
ffmpy==0.6.1
filelock==3.19.1
filetype==1.2.0
fitz==0.0.1.dev2
flasgger==0.9.7.1
Flask==3.1.2
flask-sock==0.7.0
flatbuffers==25.2.10
fonttools==4.59.2
forbiddenfruit==0.1.4
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2024.12.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.45
google-adk==1.9.0
google-ai-generativelanguage==0.7.0
google-api-core==2.25.1
google-api-python-client==2.182.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.115.0
google-cloud-appengine-logging==1.6.2
google-cloud-audit-log==0.3.2
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-cloud-logging==3.12.1
google-cloud-resource-manager==1.14.2
google-cloud-secret-manager==2.24.0
google-cloud-speech==2.33.0
google-cloud-storage==2.19.0
google-cloud-trace==1.16.2
google-crc32c==1.7.1
google-genai==1.38.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gpt4all==2.8.2
gradio==5.44.1
gradio_client==1.12.1
graphviz==0.21
greenlet==3.2.4
griffe==1.13.0
groovy==0.1.2
groq==0.31.1
grpc-google-iam-v1==0.14.2
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==23.0.0
gymnasium==1.2.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpdbg==2.0.2
httplib2==0.30.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
hyperframe==6.1.0
ibm-cos-sdk==2.14.3
ibm-cos-sdk-core==2.14.3
ibm-cos-sdk-s3transfer==2.14.3
ibm_watsonx_ai==1.3.38
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
instructor==1.11.2
invoke==2.2.0
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
json_repair==0.25.2
json5==0.12.1
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema_rs==0.29.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter_client==8.6.3
jupyter-console==6.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
jwcrypto==1.5.6
kaleido==1.1.0
kiwisolver==1.4.9
kubernetes==33.1.0
langchain==0.1.17
langchain-anthropic==0.3.22
langchain-classic==1.0.0
langchain-community==0.0.38
langchain-core==0.1.52
langchain-deepseek==0.1.4
langchain-google-genai==2.1.12
langchain-mcp-adapters==0.1.10
langchain-nomic==0.1.4
langchain-ollama==0.3.7
langchain-openai==0.1.7
langchain-redis==0.2.4
langchain-text-splitters==0.0.2
langgraph==0.6.7
langgraph-api==0.4.20
langgraph-checkpoint==2.1.1
langgraph-cli==0.4.2
langgraph-prebuilt==0.6.4
langgraph-runtime-inmem==0.12.0
langgraph-sdk==0.2.6
langmem==0.0.29
langserve==0.3.1
langsmith==0.1.81
lark==1.3.0
litellm==1.74.9
litellm-enterprise==0.1.16
litellm-proxy-extras==0.2.11
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.13.3
llama-index-cli==0.5.0
llama-index-core==0.13.4
llama-index-embeddings-dashscope==0.1.4
llama-index-embeddings-langchain==0.4.0
llama-index-embeddings-openai==0.5.0
llama-index-indices-managed-llama-cloud==0.9.2
llama-index-instrumentation==0.4.0
llama-index-llms-dashscope==0.5.0
llama-index-llms-openai==0.5.4
llama-index-llms-openai-like==0.5.0
llama-index-postprocessor-dashscope-rerank-custom==0.1.0
llama-index-readers-file==0.5.2
llama-index-readers-llama-parse==0.5.0
llama-index-vector-stores-faiss==0.1.2
llama-index-workflows==1.3.0
llama-parse==0.6.54
logistro==2.0.0
loguru==0.7.2
lomond==0.3.3
looseversion==1.3.0
lxml==6.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
mcp==1.10.0
mcp-cli==0.7.5
mdurl==0.1.2
mem0ai==0.1.117
mermaid-python==0.1
mistralai==1.9.10
mistune==3.1.4
ml_dtypes==0.5.3
mmh3==5.2.0
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
multidict==6.6.4
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==2.8.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neo4j==5.28.2
neo4j-graphrag==1.9.1
nest-asyncio==1.6.0
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
nomic==3.5.3
notebook==7.4.7
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.3.1
ollama==0.5.3
onnxruntime==1.22.0
openai==1.99.9
openpyxl==3.1.5
opentelemetry-api==1.38.0
opentelemetry-exporter-gcp-trace==1.9.0
opentelemetry-exporter-otlp==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-resourcedetector-gcp==1.9.0a0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
ordered-set==4.1.0
orjson==3.11.3
ormsgpack==1.10.0
overrides==7.7.0
packaging==23.2
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathlib==1.0.1
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==12.0.0
pip==25.1
platformdirs==4.4.0
plotly==6.3.1
pluggy==1.6.0
ply==3.11
polars==1.34.0
polars-runtime-32==1.34.0
portalocker==2.7.0
posthog==5.4.0
primp==0.15.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
prov==2.1.1
psutil==7.0.0
pure_eval==0.2.3
puremagic==1.30
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyautogen==0.10.0
pybase64==1.4.2
pycparser==2.22
pydantic==2.12.3
pydantic_core==2.41.4
pydantic-settings==2.3.4
pydot==4.0.1
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.10.1
pykernel==0.1.6
pymilvus==2.6.2
PyNaCl==1.6.0
pyparsing==3.2.3
pypdf==5.9.0
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-timeout==2.4.0
python-a2a==0.5.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==4.0.0
python-multipart==0.0.18
python-ulid==3.1.0
pytz==2025.2
pyvis==0.3.2
pywin32==311
pywinpty==3.0.2
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==27.0.2
qdrant-client==1.15.1
ragas==0.3.2
rdflib==7.1.4
redis==5.0.1
redisvl==0.10.0
referencing==0.36.2
regex==2025.8.29
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.7.1
rich-toolkit==0.15.1
rignore==0.6.4
rpds-py==0.27.1
rq==2.6.0
rsa==4.9.1
ruff==0.12.11
s3transfer==0.10.4
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.1.0
sentry-sdk==2.38.0
setproctitle==1.3.7
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.43
sqlparse==0.5.3
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.27.0
striprtf==0.0.26
structlog==25.4.0
sympy==1.14.0
tabulate==0.9.0
tavily-python==0.3.3
tenacity==8.5.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tokenizers==0.22.0
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.3
torch==2.9.0
torchvision==0.24.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transformers==4.56.0
trustcall==0.0.39
truststore==0.10.4
typer==0.17.3
types-python-dateutil==2.9.0.20251008
types-PyYAML==6.0.12.20250822
typing_extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uuid==1.30
uv==0.8.17
uvicorn==0.24.0
vanna==0.7.9
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wikipedia==1.4.0
win32_setctime==1.2.0
wrapt==1.17.3
wsproto==1.2.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.24.0
